.container {
  max-width: 1170px;
  width:100%;
  margin:0 auto ;
  padding:15px 0;

}

.top-wrapper {
  background-image: url(back.jpg);
  background-size: cover;
  padding:180px 0 100px 0;
  color:white;
  text-align: center;
  height:600px;
}
.top-wrapper h1 {
  font-size:45px;
}
.top-wrapper　p {
  font-size:30px;

}
.message {
  background-color:rgba(0,0,0,0.5);
  width:500px;
  margin:0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(237,190,237,0.5);
  position: fixed;
  top:0;
  z-index: 10;

}
.logo {
  width:200px;

}
.header-left {
  float: left;
}
.header-right {
  float: right;
}
.header-right a {
  line-height:65px;
  padding:0 25px;
  color:black;
  display: block;
  transition: all 0.5s;
  text-decoration: none;

}
.header-right a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.main h1 {
  background-color: #f7f7f7;
  text-align:center;

}
.lesson {
  float:left;
  width:50%;
}
.icon {
  width:75%;
}
.lesson p {
  font-weight:bold;
  font-size:30px
}

.message-wrapper {
  text-align: center;
}
